@import url("../Styles/Fonts.css");
@import url("../Styles/Variables.css");
@import url("Components.css");

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.grid-access {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1.3fr;
    gap: var(--cardgap);
}

.logs {
    min-height: 0;
    border-radius: var(--rad);
    border: 1px solid var(--border);
    background: white;
    display: flex;
    flex-direction: column;
}

.card-scroll {
    padding-right: 0px;
}

/* ═══════════════════════════════════════════════════════════ */
/* ════════════════════════ CARDTABLE ════════════════════════ */
/* ═══════════════════════════════════════════════════════════ */

.cardtable {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ═══════════════════════════════════════════════════════════ */
/* ═════════════════════════ HEADER ══════════════════════════ */
/* ═══════════════════════════════════════════════════════════ */

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.title {
    flex: 1;
}

.btn.add {
    margin: 20px;
    color: var(--orange);
    font-size: var(--textreg);
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    background: white;
    text-decoration: none;
}

/* ═══════════════════════════════════════════════════════════ */
/* ══════════════════════ SEARCH ROW ═════════════════════════ */
/* ═══════════════════════════════════════════════════════════ */

.search-row {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin-top: 15px;
    flex-shrink: 0;
}

.inline-search {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radsmall);
    padding: 10px 15px;
    font-size: var(--textreg);
    color: var(--black);
}

.inline-search img {
    height: 10px;
    width: 10px;
    opacity: 0.7;
}

.inline-search input {
    background: none;
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: var(--textreg);
    font-family: 'Inter' sans-serif;
}


/* ═══════════════════════════════════════════════════════════ */
/* ══════════════════════ USER TABLE ═════════════════════════ */
/* ═══════════════════════════════════════════════════════════ */

.tableDiv.members thead tr {
    position: sticky;
    top: 0;
    z-index: 2;
}

.tableDiv.members thead th {
    white-space: nowrap;
    background: var(--bg);
    font-size: 12px;
    border-bottom: 1px solid var(--border);
}

.tableDiv.members tbody td {
    white-space: nowrap;
}

.tableDiv.members tbody td:nth-child(3) {
    white-space: pre-wrap;
}




.badge {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'InterSemiBold', sans-serif;
}

.badge.active { background: var(--greenfaded); color: var(--greenlight); }
.badge.inactive { background: var(--bg); color: var(--greylight); }

.tableRow .user-avatar {
    width: 35px;
    height: 35px;
}

.user-avatar.super { background: var(--gradgreen); color: white; }
.user-avatar.admin { background: var(--gradorange); color: white; }
.user-avatar.none { background: var(--greylight); color: white; }

.tableDiv.members tbody td {
    padding: 15px 10px;
    border-bottom: 1px solid var(--border);
}

.tableDiv.members tbody tr:last-child td {
    border-bottom: none;
}

.tableDiv.members thead th:last-child { padding-right: 0px; }
.tableDiv.members tbody td:last-child { padding-right: 5px; }
.tableDiv.members tbody td:first-child { text-align: left; padding-left: 20px; }


.tableDiv.members tbody td:nth-child(3) { width: 250px;}



.btn.edit {
    padding: 8px 15px;
    border-radius: var(--radsmall);
    font-size: var(--textsmall);
    font-family: 'InterBold', sans-serif;
    cursor: pointer;
    border: 1px solid var(--border);
    background: white;
    color: var(--greylight);
    text-decoration: none;
    text-align: center;
}

.btn.edit:hover {
    border-color: var(--orange);
    background: var(--orangefaded);
    color: var(--orange);
}


/* ═══════════════════════════════════════════════════════════ */
/* ═════════════════════════ LOGS ════════════════════════════ */
/* ═══════════════════════════════════════════════════════════ */

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 20px 20px;
    border-bottom: 1px solid var(--border);
}

.row.edit {
    background: var(--redfaded);
}

.row.post {
    background: var(--bluefaded);
}

.row.remove {
    background: var(--border);
}

.row:first-child { padding-top: 10px;}
.row:last-child { border-bottom: none; }

.logtitle {
    font-family: 'InterSemiBold', sans-serif;
    font-size: var(--textreg);
}

.logdesc {
    font-size: var(--textreg);
    color: var(--grey);
}

.logmeta {
    font-size: var(--textsmall);
    color: var(--greylight);
    display: flex;
    gap: 15px;
}