@import url("../Styles/Fonts.css");
@import url("../Styles/Variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.02em;
}

body { 
  font-family: 'Inter', sans-serif; 
  padding: 30px;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

svg {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

btn {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: white; }
::-webkit-scrollbar-thumb { background: #bababa; border-radius: 10px; opacity: 0.2;}
::-webkit-scrollbar-thumb:hover { background: var(--greylight); }

/* ════════════════════════════════════════════════════════ */
/* ═════════════════════════ CARD ═════════════════════════ */
/* ════════════════════════════════════════════════════════ */

.card {
    border: 1px solid var(--border);
    border-radius: var(--rad);
    padding: var(--cardpadding);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card.white {
    background: white;
}

.cardtitle {
    font-size: var(--textbigger);
    font-family: 'InterBold', sans-serif;
    color: var(--black);
    margin-bottom: 5px;
}

.cardsubtitle {
    font-size: var(--textreg);
    color: var(--grey);
    padding-bottom: 5px;
}

.card-scroll {
    flex: 1;
    overflow-y: auto;
    position: relative;
    padding-right: 8px;
}

.card-scroll::before,
.card-scroll::after {
    content: "";
    position: sticky;
    left: 0;
    right: 0;
    height: 15px;
    pointer-events: none;
    z-index: 5;
    display: block;
}

/* TOP fade */
.card-scroll::before {
    top: 0;
    background: linear-gradient(
        to bottom,
        white,
        rgba(255, 255, 255, 0)
    );
}

/* BOTTOM fade */
.card-scroll::after {
    bottom: 0;
    background: linear-gradient(
        to top,
        white,
        rgba(255, 255, 255, 0)
    );
}

/* ═════════════════════════════════════════════════════════ */
/* ═════════════════════════ TABLE ═════════════════════════ */
/* ═════════════════════════════════════════════════════════ */

.tableDiv { 
    width: 100%; overflow-x: auto;
    border: 1px solid var(--border);
    border-radius: var(--rad);
    background: white;
    padding-bottom: 10px;
}

.tableDiv thead th  {
  padding: 20px 5px 10px;
  text-align: center;
  font-size: var(--textreg);
  color: var(--black);
  white-space: nowrap;
}

.tableDiv thead th:first-child { text-align: left; padding-left: 20px; }
.tableDiv thead th:last-child { padding-right: 20px 20px 0px 10px;}
.tableDiv tbody td:first-child { text-align: left; padding-left: 20px; }
.tableDiv tbody td:last-child { padding-right: 20px 20px 0px 10px; }

.tableDiv tbody tr:hover { background: var(--bg); }
.tableDiv tbody tr.tableRow { cursor: pointer; }

.tableDiv tbody td  {
  padding: 5px 10px;
  font-size: var(--textreg);
  color: var(--grey);
  text-align: center;
}




