@import url("../Styles/Fonts.css");
@import url("../Styles/Variables.css");
@import url("Components.css");

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* ═════════════════════════════════════════════════════════ */
/* ═════════════════════════ STATS ═════════════════════════ */
/* ═════════════════════════════════════════════════════════ */

.row-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--cardgap);
    margin-bottom: var(--cardgap);
}

.stat-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

.stat-icon {
    width: 38px;
    height: 38px;
    border-radius: var(--radbox);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.stat-icon.a {
    background: var(--redfaded)
}

.stat-icon.b {
    background: var(--yellowfaded)
}

.stat-icon.c {
    background: var(--greenfaded)
}

.stat-icon.d {
    background: var(--bluefaded)
}

.iconpic {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.iconpic.a {
    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(7093%) hue-rotate(6deg) brightness(80%) contrast(112%);
}

.iconpic.b {
    filter: brightness(0) saturate(100%) invert(42%) sepia(95%) saturate(511%) hue-rotate(355deg) brightness(99%) contrast(103%);
}

.iconpic.c {
    filter: brightness(0) saturate(100%) invert(30%) sepia(67%) saturate(547%) hue-rotate(85deg) brightness(105%) contrast(89%);
}

.iconpic.d {
    filter: brightness(0) saturate(100%) invert(17%) sepia(48%) saturate(5285%) hue-rotate(194deg) brightness(94%) contrast(99%);
}



.stat-trend {
    font-size: var(--textsmall);
    padding: 5px 10px;
    border-radius: var(--radsmall);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.stat-trend.aa {
    background: var(--redfaded);
    color: var(--red);
}

.stat-trend.bb {
    background: var(--yellowfaded);
    color: var(--yellowdark);
}

.stat-trend.cc {
    background: var(--greenfaded);
    color: var(--greenlight);
}

.stat-trend.dd {
    background: var(--bluefaded);
    color: var(--blue);
}

.stat-val {
    font-family: 'InterBlack', sans-serif;
    font-size: var(--textgiant);
    font-weight: 800;
    color: var(--black);
    letter-spacing: -0.5px;
    margin-bottom: 3px;
}

.stat-label {
    font-size: var(--textreg);
    color: var(--grey);
}


/* ═════════════════════════════════════════════════════════ */
/* ═════════════════════════ WATER ═════════════════════════ */
/* ═════════════════════════════════════════════════════════ */

.row-water {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--cardgap);
    margin-bottom: var(--cardgap);
}

.card.water {
    grid-column: span 3;
    background: var(--gradblue);
}

.watercard {
    margin-top: var(--subbelow);
    width: 100%;
    height: 120px;
}

.chartsvg {
    width: 100%;
    height: 100%;
    display: block;
}

.card-status {
    background: white;
    border: 1px solid var(--border);
    border-radius: var(--rad);
    padding: var(--cardpadding);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.status {
    background: var(--bg);
    border: 1px solid var(--bg);
    border-radius: var(--radbox);
    padding: 10px;
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    font-size: var(--textbig);
    align-items: center
}

.status.active {
    color: white;
}

.level.a {
    color: var(--green);
}

.level.b {
    color: var(--orange);
}

.level.c {
    color: var(--red);
}

.level.d {
    color: var(--bluedark);
}

.status.active .level {
    color: white;
}

.level {
    font-family: 'InterBold', sans-serif;
}


.status.a.active {
    background: var(--green);
}

.status.b.active {
    background: var(--orange);
}

.status.c.active {
    background: var(--red);
}

.status.d.active {
    background: var(--bluedark);
}

/* ═════════════════════════════════════════════════════════ */
/* ══════════════════════ SUBDIVISION ══════════════════════ */
/* ═════════════════════════════════════════════════════════ */

.tableDiv.overview tbody tr:hover {
    background: white;
}

.tableDiv.overview{
    flex: 1;
    overflow: auto;
    border: 1px solid var(--border);
    border-radius: var(--rad);
}

.tableDiv.overview tbody tr:last-child td {
    padding-bottom: 15px;
}

.tableDiv.overview thead th  { color: var(--black);}
.tableDiv.overview tbody tr.tableRow { cursor: pointer; }
.tableDiv.overview thead th  { padding-top: 20px; }
