@import url("../Styles/Fonts.css");
@import url("../Styles/Variables.css");

.modal-overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
}

.content {
    background: var(--bg);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: modalFadeIn 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: var(--cardgap);
    padding: 30px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.infocard {
    border: 1px solid var(--border);
    border-radius: var(--rad);
    padding: var(--cardpadding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    gap: 15px;
}

.stat-icon {
    margin-right: 20px;
    width: 38px;
    height: 38px;
    border-radius: var(--radbox);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.stat-icon.a {
    background: var(--redfaded)
}

.iconpic {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.iconpic.a {
    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(7093%) hue-rotate(6deg) brightness(80%) contrast(112%);
}

.areaheader {
    height: 38px;
    display: flex;
    align-items: center;
}


.areatitle {
    flex: 1;
    font-size: var(--textbigger);
    font-family: 'InterBold', sans-serif;
    color: var(--black);
}

.btn.editinfo {
    color: var(--greylight);
    font-size: var(--textreg);
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    background: white;
    text-decoration: none;
    padding: none;
}

.btn.editinfo:hover {
    font-family: 'InterBold', sans-serif;
    color: var(--grey);
}

.btn.attachment {
    color: var(--greylight);
    font-size: var(--textreg);
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    background: white;
    padding: none;
}

.btn.attachment:hover {
    font-family: 'InterBold', sans-serif;
    color: var(--grey);
}

.information {
    width: 100%;
    overflow-x: auto;
}

.row {
    display: flex;
}

.row {
    align-items: stretch;
}

.row td {
    white-space: nowrap;
    padding: 6px 0px;
    font-size: var(--textreg);
    color: var(--grey);
    text-align: center;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
}

.row.wrap td {
    white-space: pre-wrap;
}

.row:first-child td {
    padding-top: 0px;
}

.row:last-child td {
    border-bottom: none;
    padding-bottom: 0px;
}

.row td:first-child {
    font-family: 'InterBold', sans-serif;
}

.row td:last-child {
    flex: 1;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: var(--grey);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background: none;
}

.input.edit {
    color: var(--black);
    background: var(--bg);
    border: 1px solid var(--grey);
}



.form-input {
    width: 100%;
    padding: 10px;
    background: var(--bg);

    border-radius: var(--radsmall);
    font-size: var(--textreg);
    font-family: 'Inter', sans-serif;
    color: var(--grey);
    outline: none;
}

.form-input:focus {
    border-color: var(--orange);
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons.col {
    flex-direction: column;
}


.button {
    flex: 1;
    border: none;
    padding: 10px 15px;
    border-radius: var(--radsmall);
    font-size: var(--textreg);
    cursor: pointer;
    font-family: 'InterBold', sans-serif;
    align-items: center;
    gap: 8px;

}

.button.reject {
    background: var(--redfaded);
    color: var(--red);
    border: 1px solid var(--red);
}

.button.reject:hover {
    background: var(--red);
    color: white;
}

.button.accept {
    background: var(--greenfaded);
    color: var(--green);
    border: 1px solid var(--green);
}

.button.accept:hover {
    background: var(--green);
    color: white;
}

.button.save {
    background: var(--greenfaded);
    color: var(--green);
    border: 1px solid var(--green);
}

.button.save:hover {
    background: var(--green);
    color: white;
}

.button.delete {
    background: var(--bg);
    color: var(--greylight);
}

.button.delete:hover {
    background: var(--red);
    color: white;
}