@import url("../Styles/Fonts.css");
@import url("../Styles/Variables.css");

.modal-overlay input::-webkit-outer-spin-button,
.modal-overlay input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
}

.modal-overlay .content {
    background: var(--bg);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: modalFadeIn 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: var(--cardgap);
    padding: 30px;
}

.modal-overlay .contentadd {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: modalFadeIn 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: var(--cardgap);
    padding: 30px;
    border: 1px solid var(--border);
}

.modal-overlay .contentadd.in {
    background: white;
    border-radius: 12px;
    box-shadow: none;
    overflow: hidden;
    animation: modalFadeIn 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: var(--cardgap);
    padding: 0px;
    border: none;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-overlay .infocard {
    border: 1px solid var(--border);
    border-radius: var(--rad);
    padding: var(--cardpadding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    gap: 15px;
}

.modal-overlay .card {
    border: 1px solid var(--border);
    border-radius: var(--rad);
    padding: var(--cardpadding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 15px;
}

.modal-overlay .stat-icon {
    margin-right: 20px;
    width: 38px;
    height: 38px;
    border-radius: var(--radbox);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay .stat-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.modal-overlay .stat-icon.a {
    background: var(--redfaded);
}

.modal-overlay .iconpic {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.modal-overlay .iconpic.a {
    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(7093%) hue-rotate(6deg) brightness(80%) contrast(112%);
}

.modal-overlay .areaheader {
    height: 38px;
    display: flex;
    align-items: center;
}

.modal-overlay .areatitle {
    flex: 1;
    font-size: var(--textbigger);
    font-family: 'InterBold', sans-serif;
    color: var(--black);
}

.modal-overlay .diatitle {
    height: 10px;
    font-size: var(--textbigger);
    font-family: 'InterBold', sans-serif;
    color: var(--black);
    margin-bottom: 10px;
}

.modal-overlay .btn.editinfo {
    color: var(--greylight);
    font-size: var(--textreg);
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    background: white;
    text-decoration: none;
    padding: 0;
}

.modal-overlay .btn.editinfo:hover {
    font-family: 'InterBold', sans-serif;
    color: var(--grey);
}

.modal-overlay .btn.attachment {
    color: var(--greylight);
    font-size: var(--textreg);
    font-family: 'InterSemiBold', sans-serif;
    cursor: pointer;
    background: white;
    padding: 0;
}

.modal-overlay .btn.attachment:hover {
    font-family: 'InterBold', sans-serif;
    color: var(--grey);
}

.modal-overlay .information {
    width: 100%;
    overflow-x: auto;
}

.modal-overlay .row {
    display: flex;
    align-items: stretch;
}

.modal-overlay .row td {
    white-space: nowrap;
    padding: 10px 0px;
    font-size: var(--textreg);
    color: var(--grey);
    text-align: center;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
}

.modal-overlay .row.wrap td {
    white-space: pre-wrap;
}

.modal-overlay .row:first-child td {
    padding-top: 0px;
}

.modal-overlay .row:last-child td {
    border-bottom: none;
    padding-bottom: 0px;
}

.modal-overlay .row td:first-child {
    font-family: 'InterBold', sans-serif;
}

.modal-overlay .row td:last-child {
    flex: 1;
}

.modal-overlay .input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: var(--grey);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background: none;
}

.modal-overlay .input.edit {
    color: var(--black);
    background: var(--bg);
    border: 1px solid var(--grey);
}

.modal-overlay .form-row.add {
    margin-bottom: 5px;
}

.modal-overlay .form-row.add .form-label {
    margin-bottom: 5px;
}

.modal-overlay .form-row.dia {
    margin-bottom: 0px;
}

.modal-overlay .form-row.dia .form-label {
    margin-bottom: 10px;
}

.modal-overlay .form-label.dia {
    font-size: var(--textreg);
    color: var(--grey);
}

.modal-overlay .form-label.dia1 {
    font-family: 'InterSemiBold', sans-serif;
    font-size: var(--textreg);
    color: var(--black);
}

.modal-overlay .form-label.dia2 {
    font-family: 'Inter', sans-serif;
    font-size: var(--textreg);
    color: var(--grey);
}

.modal-overlay .form-label.dia3 {
    font-family: 'InterSemiBold', sans-serif;
    font-size: var(--textreg);
    color: var(--grey);
}

.modal-overlay .mid {
    text-align: center;
    align-items: center;
}

.modal-overlay .form-input {
    width: 100%;
    padding: 10px;
    background: var(--bg);
    border-radius: var(--radsmall);
    font-size: var(--textreg);
    font-family: 'Inter', sans-serif;
    color: var(--black);
    outline: none;
}

.modal-overlay .form-input:focus {
    border-color: var(--orange);
}

.modal-overlay .form-input.big {
    height: 70px;
    resize: none;
    padding: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: top;
}

.modal-overlay .buttons {
    display: flex;
    gap: 10px;
}

.modal-overlay .buttons.col {
    flex-direction: column;
}

.modal-overlay .button {
    flex: 1;
    border: none;
    padding: 10px 15px;
    border-radius: var(--radsmall);
    font-size: var(--textreg);
    cursor: pointer;
    font-family: 'InterBold', sans-serif;
    align-items: center;
    gap: 8px;
}

.modal-overlay .button.reject {
    background: var(--redfaded);
    color: var(--red);
    border: 1px solid var(--red);
}

.modal-overlay .button.reject:hover {
    background: var(--red);
    color: white;
}

.modal-overlay .button.accept {
    background: var(--greenfaded);
    color: var(--green);
    border: 1px solid var(--green);
}

.modal-overlay .button.accept:hover {
    background: var(--green);
    color: white;
}

.modal-overlay .button.delete {
    background: var(--bg);
    color: var(--greylight);
}

.modal-overlay .button.delete:hover {
    background: var(--border);
    color: var(--grey);
}

.modal-overlay .button.confirm {
    background: var(--orangelight);
    color: white;
}

.modal-overlay .button.confirm:hover {
    background: var(--orange);
    color: white;
}

.modal-overlay .button.red {
    background: var(--red);
    color: white;
}

.modal-overlay .button.red:hover {
    background: #a50000;
    color: white;
}

.modal-overlay .button.green {
    background: var(--green);
    color: white;
}

.modal-overlay .button.green:hover {
    background: #15622c;
    color: white;
}