:root {
    --orange: #ee6423;
    --orangelight: #ff832b;
    --orangefaded: #ffeee7;

    --red: #ce0000;
    --redfaded: #fedfe4;

    --yellowdark: #d37303;
    --yellow: #ffdf01;
    --yellowfaded: #fff3c7;

    --greendark: #1A3A1F;
    --green: #1A7A35;
    --greenlight: #22A84A;
    --greenfaded: #e9f4eb;

    --bluedark: #002747;
    --blue: #015498;
    --bluefaded: #e6f3ff;
    
    --black: #0F1A10;
    --grey: #4A5549;
    --greylight: #8A9889;

    --bg: #F4F5F3;
    --border: #ddd;

    --grad: linear-gradient(135deg, #c84c12, #c63f00, var(--green));
    --gradgreen: linear-gradient(135deg, var(--greendark), var(--green));
    --gradorange: linear-gradient(135deg, var(--orange), var(--orangelight));
    --gradblue: linear-gradient(180deg, white, var(--bluefaded));

    --textgiant: 25px;
    --textbigger: 18px;
    --textbig: 15px;
    --textreg: 13.5px;
    --textsmall: 11px;

    --rad: 12px;
    --radbox: 8px;
    --radsmall: 6px;
}